body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  color: #333;
}

.content-container {
  display: flex;
}

.user-info {
  float: right;
  width: 30%;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  margin-left: 20px;
  margin-right: 10px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.user-icon {
  margin-left: auto;
  margin-right: 10px;
}

.notification-icon {
  margin-right: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #08365a;
  padding: 20px;
  color: #fff;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 230px;
}

.main-content section h2,
.main-content section p {
  color: #333;
}

.search-bar {
  position: absolute;
  top: 20px;
  right: 100px;
}

.search-bar input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 300px;
  border: 1px solid;
}

.search-bar button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.slideshow-container img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.contact-form,
.about {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 85%;
}

.contact-form h2,
.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-form p,
.about p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.contact-form textarea {
  resize: vertical;
}

.btn-buyer,
.btn-broker {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-buyer {
  background-color: #007bff;
  color: white;
}

.btn-broker {
  background-color: #6c757d;
  color: white;
}

.recaptcha {
  margin-bottom: 20px;
}

.submit-btn {
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #218838;
}
