.main-content {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    width: fit-content; /* Change width to fit its contents */
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
.gallery-row {
  display: flex;
}


.gallery-image {
  width: 32%; /* Make all images fill their respective containers */
  height: auto;
  margin: 10px;
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  border-radius: 5px;
}

.item p {
  margin-top: 10px;
}
