body,
p,
h1,
div {
  font-family: "Libre Caslon Text", serif;
}

.slick-slide img {
  width: 70%; /* Ensures images take full width of their container */
  height: 10%; /* Allows images to scale proportionally */
}

@media screen and (max-width: 800px) {
  .content {
    width: 100%;
    margin: 0;
  }
}

.txtTitle {
  font-weight: 700;
  font-size: 29px;
  color: #08365a;
  margin-top: 50px;
}

p {
  font-size: 20px;
}
