.header-image {
  position: relative;
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.inquire-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.search-container {
  text-align: center;
  margin-top: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-field {
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
